<head>

</head>
<body>
<h2>How old are you?</h2>
  <div class="button-roww">
    <mat-button-toggle-group>
    <mat-button-toggle (click)="setPoints('age', 23)">18-24 (23 points)</mat-button-toggle>
    <mat-button-toggle (click)="setPoints('age', 25)">25-29 (25 points)</mat-button-toggle>
    <mat-button-toggle (click)="setPoints('age', 23)">30-34 (23 points)</mat-button-toggle>
    <mat-button-toggle (click)="setPoints('age', 12)">35-39 (12 points)</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-divider></mat-divider>
<h2>Education Level</h2>
<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let educationLevel of getEducationLevels()" (click)="setEducation(educationLevel)" [value]="educationLevel">
    {{educationLevel}}
  </mat-list-option>
</mat-selection-list>
<mat-divider></mat-divider>
<h2>Korean Language Ability</h2>
<mat-selection-list #koreanLanguageAbility [multiple]="false">
  <mat-list-option *ngFor="let koreanLevel of getKoreanLevels()" (click)="setKoreanLanguageAbility(koreanLevel)" [value]="koreanLevel">
    {{koreanLevel}}
  </mat-list-option>
</mat-selection-list>
<mat-divider></mat-divider>
<h2>Income (in Million Won)</h2>
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="10"
  step="1"
  min="0"
  max="100"
  aria-label="units" (input)="onInputChange($event)"></mat-slider>
<p>
Total Points: {{getPoints()}}
</p>

</body>
